@font-face {
    font-family:'Silkscreen';
    src:url('./fonts/slkscrb.ttf') format('truetype');
}

#gameboard{
    background-color:lightblue;
    display:inline-block;
}

#sidebar{
    background-color:black;
    width:120px;
    height:100vh;
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
}

.toolbelt{
    width:100px;
    margin:50px auto;
}

#sidebar .tool{
    width:75px;
    height:85px;
    border:1px solid white;
    background-size:contain;
    background-position:top;
    background-repeat:no-repeat;
    margin:10px auto;
    color:white;
    font-size:13px;
    font-family:'Silkscreen',Impact,'sans-serif';
    text-align:center;
    display:flex;
    flex-direction:column-reverse;
}

#sidebar .tool:hover{
    background-color:blue;
}

.material{
    width:40px;
    height:40px;
    border:1px solid white;
    margin:15px auto;
    background-size:cover;
    background-position:top;
}
.material:hover{
    border:1px solid gold;
}
.block{
    width:50px;
    height:50px;
    float:left;
}
.block:hover{
    box-shadow:0px 0px 0px 1px rgba(0,0,0,1) inset;
}
.bank{
    width:100px;
    margin:auto;
    font-family:'Silkscreen';
}
.bank .materials{
    height:45px;
    width:45px;
    float:left;
    margin:2px;
    color:white;
    text-align:center;
    font-size:22px;
    border:1px solid white;
}
.bank .materials:hover{
    border:1px solid gold;
}
.leaf{
    background-image:url("../images/leaf.png");
    background-size:contain;
    background-position:top;
}

.tree{
    background-image:url("../images/tree.png");
    background-size:contain;
    background-position:top;    
}

.rock{
    background-image:url("../images/rock.png");
    background-size:contain;
    background-position:top;
}

.dirt{
    background-image:url("../images/dirt.png");
    background-size:contain;
    background-position:top;
}

.grass{
    background-image:url("../images/grass.png");
    background-size:contain;
    background-position:top;
}